[submodule "dependencies/octant-v2-core"]
	path = dependencies/octant-v2-core
	url = https://github.com/golemfoundation/octant-v2-core
	branch = develop
[submodule "dependencies/v4-core"]
	path = dependencies/v4-core
	url = https://github.com/Uniswap/v4-core
[submodule "dependencies/v4-periphery"]
	path = dependencies/v4-periphery
	url = https://github.com/Uniswap/v4-periphery
